<div class="row">
    <div class="col-6" *ngFor="let item of doughnutChartData; let i = index">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> {{ leyendas[i] }}</h3>
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData[i]" [labels]="doughnutChartLabels[i]" [chartType]="doughnutChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>